#wrapper
{
	margin: 50px auto;
	width: 673px;
}
#container
{
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 235px;
	padding: 32px;
	position: relative;
}
.sliderbutton
{
	cursor: pointer;
	float: left;
	height: 235px;
	width: 25px;
}
#slideleft
{
	background: url(images/icons.gif) -50px -265px no-repeat;
}
#slideleft:hover
{
	background-position: -0 -265px;
}
#slideright
{
	background: url(images/icons.gif) 0 90px no-repeat;
}
#slideright:hover
{
	background-position: -50px 90px;
}
#slider
{
	float: left;
	height: 235px;
	overflow: auto;
	position: relative;
	width: 558px;
}
#slider ul
{
	left: 0;
	list-style: none;
	position: absolute;
	top: 0;
}
#slider li
{
	float: left;
	height: 235px;
	width: 558px;
}
.pagination
{
	height: 25px;
	list-style: none;
	position: absolute;
	right: 61px;
	top: 40px;
}
.pagination li
{
	background: #ccc;
	border: 1px solid #fff;
	cursor: pointer;
	float: left;
	height: 8px;
	margin: 0 4px 0 0;
	width: 8px;
}
.pagination li:hover, li.current
{
	background: #fff;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px;
}

.block{
    padding: 15px;
    font-size: 15px;
}

body{
 background-image: url(../background/background.jpg);
}

href{
    color: black;
}